
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<script src="~/AngScripts/jquery-3.6.0.js"></script>
<script src="~/AngScripts/jquery-3.6.0.min.js"></script>
<script src="~/AngScripts/angular.js"></script>
<script src="~/AngScripts/ngStorage.min.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.0.3.js"></script>
<style>
    footer.footer {
        margin-bottom: -806px;
    }

   /* .btn-primary {
        color: #fff;
        background-color: #5b73e8 !important;
        border-color: #5b73e8 !important;
    }
    li.pagination-page.ng-scope {
        MARGIN-LEFT: 15PX;
        MARGIN-RIGHT: 15PX;
    }

    .MYPAGECSS {
        BORDER: 1PX SOLID !important;
        FLOAT: RIGHT !important;
        BORDER-RADIUS: 5PX !important;
    }

    li.pagination-page.ng-scope.active {
        FONT-WEIGHT: BOLD;
    } */
</style>

@section Scripts {


}

@*<body>*@
    <div ng-app="myApp" class="wrapper">
        <div ng-controller="myctrn" ng-init="PageLoad()">
            <div class="text-center mb-4">
                <img src="/Content/images/logo2.png" alt="IRecord" />

            </div>





            <div class="container">
                <div class="tabbable-panel">
                    <div class="tabbable-line">

                        <div class="tab-content mt-3">
                            <!-- 1 -->
                            <!-- 12 -->
                            <div class="tab-pane fade active show" id="tab_12">
                                <h2>
                                    Trade File Excel Mapping
                                </h2>
                                <div class="form-row">
                                    <div class="form-holder">
                                        <label for="">
                                            Investment Type:
                                        </label>
                                        <div class="form-holder w-100">

                                            <select id="ddlInvestmentType" ng-model="ddlInvestmentType" ng-change="bindbills()" class="form-control select2">

                                                <option ng-option="" value="" selected="selected">Select Investment Type</option>
                                                <option ng-option="" value="0">Equity</option>
                                                <option ng-option="" value="1"> F & O</option>
                                                <option ng-option="" value="3">MCX</option>
                                                <option ng-option="" value="4">Currency</option>
                                                <option ng-option="" value="5">NCDEX</option>


                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-holder">
                                        <label for="">
                                            Select Contract Note:
                                        </label>
                                        <div class="form-holder w-100">
                                            <select id="ContractNoteId" ng-model="ContractNoteId" ng-options="v.ID as v.NAME for v in BILLS" class="form-control">
                                                <option ng-option value="">Select Contract Note</option>

                                            </select>


                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-holder">
                                        <label for="">
                                            Browse:
                                        </label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="contractnotefile" ng-model="SaveBREntry.uploadfileurl" ng-select="UploadFiles($files)">
                                            <label class="custom-file-label" for="customFile">Choose file</label>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-holder">
                                        <label for="">
                                            Password:
                                        </label>
                                        <input type="text" ng-model="SaveBREntry.Password" class="form-control">
                                    </div>
                                </div>
                                <div class="text-center mt-4">
                                    <a href="javascript:;" ng-show="btnupload" ng-click="btnupload()" class="btn btn-primary text-uppercase">Upload</a>
                                </div>
                                <div id="DIV_VIEW_MAPING" class="text-center mt-4">
                                    <a href="#modal_1" id="btnviewmaping" data-bs-toggle="modal" ng-click="viewMaping()" class="btn btn-primary text-uppercase mt-3">View Maping</a>
                                </div>
                            </div>

                            <uib-pagination class="pagination MYPAGECSS" total-items="datas.length" ng-model="page"
                                            ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=10></uib-pagination>

                            <div class="container-fluid">

                                <table class="table table-hover table-bordered mb-0 table-responsive">
                                    <thead class="table-light">
                                        <tr>
                                            <th>
                                                FormateName <input type="text" class="form-control " ng-model="search.FormateName" placeholder="Formate Name">
                                            </th>
                                            <th>
                                                Tradedate <input type="text" class="form-control " ng-model="search.Tradedate" placeholder="Trade date">
                                            </th>

                                            <th>
                                                consultant <input type="text" class="form-control " ng-model="search.consultant" placeholder="consultant">
                                            </th>
                                            <th>
                                                MemberName  <input type="text" class="form-control " ng-model="search.MemberName" placeholder="MemberName">
                                            </th>

                                            <th>
                                                OptionType  <input type="text" class="form-control " ng-model="search.OptionType" placeholder="OptionType">
                                            </th>
                                            <th>
                                                StrikePrice  <input type="text" class="form-control " ng-model="search.StrikePrice" placeholder="StrikePrice">
                                            </th>
                                            <th>
                                                ScriptName  <input type="text" class="form-control " ng-model="search.ScriptName" placeholder="ScriptName">
                                            </th>
                                            <th>
                                                BuySell  <input type="text" class="form-control " ng-model="search.BuySell" placeholder="BuySell">
                                            </th>
                                            <th>
                                                DateOfExpire  <input type="text" class="form-control " ng-model="search.DateOfExpire" placeholder="DateOfExpire">
                                            </th>
                                            <th>
                                                Quantity  <input type="text" class="form-control " ng-model="search.Quantity" placeholder="Quantity">
                                            </th>
                                            <th>
                                                GrossRate  <input type="text" class="form-control " ng-model="search.GrossRate" placeholder="GrossRate">
                                            </th>
                                            <th>
                                                BrokerageRate  <input type="text" class="form-control " ng-model="search.BrokerageRate" placeholder="BrokerageRate">
                                            </th>
                                            <th>
                                                BrokerageAmount  <input type="text" class="form-control " ng-model="search.BrokerageAmount" placeholder="BrokerageAmount">
                                            </th>
                                            <th>
                                                NetRate <input type="text" class="form-control " ng-model="search.NetRate" placeholder="NetRate">
                                            </th>
                                            <th>
                                                NetAmount  <input type="text" class="form-control " ng-model="search.NetAmount" placeholder="NetAmount">
                                            </th>
                                            <th>
                                                BrokerName  <input type="text" class="form-control " ng-model="search.BrokerName" placeholder="BrokerName">
                                            </th>
                                            <th>
                                                BillNo  <input type="text" class="form-control " ng-model="search.BillNo" placeholder="BillNo">
                                            </th>
                                            <th>
                                                SettellmentNo  <input type="text" class="form-control " ng-model="search.SettellmentNo" placeholder="SettellmentNo">
                                            </th>
                                            <th>
                                                Action
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="DATA in datas | filter:search | limitTo:10:10*(page-1)">
                                            <td>
                                                {{DATA.FormateName}}
                                            </td>
                                            <td>
                                                {{DATA.Tradedate}}
                                            </td>
                                            <td>
                                                {{DATA.consultant}}
                                            </td>
                                            <td>
                                                {{DATA.MemberName}}
                                            </td>
                                            <td>
                                                {{DATA.OptionType}}
                                            </td>
                                            <td>
                                                {{DATA.StrikePrice}}
                                            </td>
                                            <td>
                                                {{DATA.ScriptName}}
                                            </td>
                                            <td>
                                                {{DATA.BuySell}}
                                            </td>
                                            <td>
                                                {{DATA.DateOfExpire}}
                                            </td>
                                            <td>
                                                {{DATA.Quantity}}
                                            </td>
                                            <td>
                                                {{DATA.GrossRate}}
                                            </td>
                                            <td>
                                                {{DATA.BrokerageRate}}
                                            </td>
                                            <td>
                                                {{DATA.BrokerageAmount}}
                                            </td>
                                            <td>
                                                {{DATA.NetRate}}
                                            </td>
                                            <td>
                                                {{DATA.NetAmount}}
                                            </td>
                                            <td>
                                                {{DATA.BrokerName}}
                                            </td>
                                            <td>
                                                {{DATA.BillNo}}
                                            </td>
                                            <td>
                                                {{DATA.SettellmentNo}}
                                            </td>

                                            <td class="whitespace_nowrap">

                                                <a class="px-2 btn btn-outline-danger las la-trash-alt font-size-18" ng-click="deletefn(DATA)" href=""> </a>

                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal 1 -->
            <div class="modal fade" id="modal_1" tabindex="-1" data-backdrop="static" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Excel Data Mapping</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">


                            <div class="tab-pane fade active show" id="tab_12">


                                <div class="table-responsive script_list mt-4">
                                    <table class="table table-bordered table-striped table-hover table-sm">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>DB Column Name</th>
                                                <th>Excel Column Name</th>
                                            </tr>
                                            <tr ng-repeat="TBLITEMS in BILLSFORMATE">
                                                <td>{{TBLITEMS.NAME}}</td>
                                                <td>
                                                    <select ng-model="TBLITEMS.EXCELNAME" ng-options="x.ID as x.NAME for x in GETALLEXCELCOLNM" class="form-control">

                                                        <option ng-option value="">Select column Name</option>

                                                    </select>


                                                </td>
                                            </tr>

                                        </thead>
                                    </table>
                                </div>



                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" ng-click="OnClickApprove()" class="btn btn-primary" data-dismiss="modal">Approve</button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/select2.min.js"></script>

    <!-- <script src="js/jquery.steps.js"></script>
    <script src="js/main.js"></script> -->
    <script>
        $(document).ready(function () {
            $(".select2").select2({
                maximumSelectionLength: 3
            });



            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var href = $(e.target).attr('href');
                var $curr = $(".checkout-bar  a[href='" + href + "']").parent();
                $('.checkout-bar li').removeClass();
                $curr.addClass("active");
                $curr.prevAll().addClass("visited");
            });
        });
        //$("#ApproveNowUpload").click(function () {

        //    window.location.href = "/BrokerBillEntry/BRDetails";
        //});
        jQuery('body').on('click', '.next-tab', function () {
            var next = jQuery('.nav_tabs > .active').next('li');
            if (next.length) {
                next.find('a').trigger('click');
            }
            // else
            // {
            //     jQuery('#myTabs a:first').tab('show');
            // }
        });
        jQuery('body').on('click', '.skip-tab', function () {
            var next = jQuery('.nav_tabs > .active').next('li');
            if (next.length) {
                next.find('a').trigger('click');
            }
        });

        // jQuery('body').on('click','.previous-tab', function(){
        //     var prev = jQuery('.nav-tabs > .active').prev('li')
        //     if(prev.length){
        //         prev.find('a').trigger('click');
        //     }else{
        //         jQuery('#myTabs a:last').tab('show');
        //     }
        // });
        $('#option1').click(function () {
            $('.nav-tabs a[href="#tab_2"]').tab('show');
        });
        $('#option2').click(function () {
            $('.nav-tabs a[href="#tab_3"]').tab('show');
        });
        $('#option3').click(function () {
            $('.nav-tabs a[href="#tab_4"]').tab('show');
        });

        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>

    <script src="~/AngularDataFunction/AngularDataFunction.js"></script>
    <script src="~/AngScripts/ExcelMp.js"></script>
@*</body>*@

