
@{
    ViewBag.Title = "StockHolding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="display_adds display_adds_top text-center mb-3">
    <img src="https://via.placeholder.com/970x90.png/007BFF/FFFFFF?text=Irecord+Ads" alt="">
</div>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h1 class="mb-0">Account Ledger</h1>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <iframe src="~/Reports/StockHolding.aspx" height="600" class="w-100 d-flex" title="Iframe AccountLedger"></iframe>
</div>

