
@{
    ViewBag.Title = "Advisor";
    //  Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">

<link rel="stylesheet" href="~/css/bootstrap.min.v4.css">
<link rel="stylesheet" href="~/css/style.css">

<body>


    <div class="wrapper">
        <form action="">
            <div class="text-center mb-4">
                <img src="~/images/logo.png" alt="IRecord" />
                <!-- <h1 style="margin-bottom: 15px;">Register</h1> -->
            </div>
            <div class="tab-content mt-4">
                <div class="checkout-wrap">
                    <ul class="checkout-bar nav_tabs d-flex">
                        <li class="visited"><a href="#tab_1"></a></li>
                        <li class="visited"><a href="#tab_2"></a></li>
                        <li class="active"><a href="#tab_3"></a></li>
                        <li class=""><a href="#tab_4"></a></li>
                        <li class=""><a href="#tab_5"></a></li>
                        <li class=""><a href="#tab_6"></a></li>
                        <li class=""><a href="#tab_7"></a></li>
                        <li class=""><a href="#tab_8"></a></li>
                        <li class=""><a href="#tab_9"></a></li>
                        <li class=""><a href="#tab_10"></a></li>
                        <li class=""><a href="#tab_11"></a></li>
                        <li class=""><a href="#tab_12"></a></li>
                        <li class=""><a href="#tab_13"></a></li>
                        <li class=""><a href="#tab_14"></a></li>
                        <li class=""><a href="#tab_15"></a></li>
                        <li class=""><a href="#tab_16"></a></li>
                        <li class=""><a href="#tab_17"></a></li>
                        <li class=""><a href="#tab_18"></a></li>
                        <li class=""><a href="javascript:;"></a></li>
                    </ul>
                </div>
                <!-- 3 -->
                <div class="tab-pane fade active show" id="tab_3">
                    <h2 class="text-center mb-4">Advisor</h2>

                    <div class="mb-2 w-100">
                        <ul class="list_line mb-4">
                            <li>Access & Offer</li>
                            <li>To Your Client</li>
                            <li>Multibroker</li>
                            <li>Multiple Family member</li>
                            <li>Multi Asset</li>
                            <li>Single View Live Report</li>
                        </ul>
                    </div>
                    <div class="justify-content-center form-row mt-4 text-center">
                        <input type="button" value="Subscribe" name="SUBSCRIBER" class="btn btn-primary btn-soft-primary btn-lg text-uppercase text-center" onclick="location.href='@Url.Action("Register", "SubscriberMaster")'" />
                    </div>
                    <div class="text-center">
                        <a href='@Url.Action("Login", "Login")' style="font-size: 12px;color: black;">Login </a>
                        @*<input type="button" value="NEXT" name="" class="btn btn-primary btn-soft-primary ml-auto text-uppercase next-tab text-left" onclick="location.href='@Url.Action("Accountant", "Onboarding")'" /> &nbsp; &nbsp;*@
                        <input type="button" value="Login" style="display:none" name="Login" class="btn btn-primary btn-soft-primary ml-auto text-uppercase next-tab text-left" onclick="location.href='@Url.Action("Login", "Login")'" />
                    </div>
                </div>
            </div>

        </form>
    </div>
</body>
