@{
    ViewBag.Title = "OnboardingTrade";
    Layout = "~/Views/Shared/_BLayout.cshtml";
}

<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css">

<link rel="stylesheet" href="~/css/bootstrap.min.v4.css">
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="css/select2.min.css">


<body>

    <div class="wrapper">
        <form action="">
            <div class="text-center mb-4">
                <img src="~/images/logo.png" alt="IRecord" />
                <!-- <h1 style="margin-bottom: 15px;">Register</h1> -->
            </div>
            <div class="tab-content mt-4">
                <div class="checkout-wrap">
                    <ul class="checkout-bar nav_tabs d-flex">
                        <li class="visited"><a href="#tab_1"></a></li>
                        <li class="visited"><a href="#tab_2"></a></li>
                        <li class="visited"><a href="#tab_3"></a></li>
                        <li class="visited"><a href="#tab_4"></a></li>
                        <li class="visited"><a href="#tab_5"></a></li>
                        <li class="visited"><a href="#tab_6"></a></li>
                        <li class="visited"><a href="#tab_7"></a></li>
                        <li class="visited"><a href="#tab_8"></a></li>
                        <li class="visited"><a href="#tab_9"></a></li>
                        <li class="visited"><a href="#tab_10"></a></li>
                        <li class="visited"><a href="#tab_11"></a></li>
                        <li class="visited"><a href="#tab_12"></a></li>
                        <li class="visited"><a href="#tab_13"></a></li>
                        <li class="active"><a href="#tab_14"></a></li>
                        <li class=""><a href="#tab_15"></a></li>
                        <li class=""><a href="#tab_16"></a></li>
                        <li class=""><a href="#tab_17"></a></li>
                        <li class=""><a href="#tab_18"></a></li>
                        <li class=""><a href="javascript:;"></a></li>
                    </ul>
                </div>
            </div>
            <div class="w-100 text-center" id="tab_14">
                <h2>
                    Script Mapping Data
                </h2>

                <div class="table-responsive script_list mt-4">
                    <table class="table table-bordered table-striped table-hover table-sm">
                        <thead class="thead-light">
                            <tr>
                                <th>Script Name</th>
                                <th>Script Name(In Script Master)</th>
                            </tr>
                            <tr>
                                <td>DEEPKANI / INE288B01029</td>
                                <td>
                                    <select class="form-control select2">
                                        <option value="-1">Select Script Name</option>
                                        <option value="AK">Script Name 1</option>
                                        <option value="HI">Script Name 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>KRBL / INE288B01026</td>
                                <td>
                                    <select class="form-control select2">
                                        <option value="-1">Select Script Name</option>
                                        <option value="AK">Script Name 1</option>
                                        <option value="HI">Script Name 2</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>DEEPKANI / INE288B01029</td>
                                <td>
                                    <select class="form-control select2">
                                        <option value="-1">Select Script Name</option>
                                        <option value="AK">Script Name 1</option>
                                        <option value="HI">Script Name 2</option>
                                    </select>
                                </td>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="text-center w-100 mt-4">
                    <a href="~/Home/Index" class="btn btn-primary btn-soft-primary ml-auto text-uppercase next-tab">Approve</a>
                </div>

            </div>

        </form>
    </div>
</body>




    @*For Duplicate Name Validate*@
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
  










